html,body{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

a{
    text-decoration: none;
}
#top{
    width: 1150px;
    height: 590px;
    margin: 0 auto;
    border: 0px solid black;
    background-size: cover;
    background-image: url(../images/bg.png);
}

/* logo的样式 */
#top div:nth-child(1){
    float: left;
    width: 200px;
    height: 100px;
    margin: 220px 80px 0px 200px;
    background-color: #fef7e8;
    border: 3px solid #fef7e8;
}

#top div:nth-child(2){
    float: left;
    width: 5px;
    height: 450px;
    margin: 80px 60px 0px 0px;
    background-color: #DCAC4C;
    border: 1px solid #DCAC4C;
}

#top div:nth-child(3){
    float: left;
    width: 400px;
    height: 300px;
    margin: 120px auto;
    background-color: #fef7e8;
    border: 1px solid #fef7e8;
}
#top div p{
    margin-left: 80px;
}
#top div:nth-child(3) input[type=text], [type=password]{
    width: 200px;
    height: 30px;
    margin-top: 40px;
    border: 1px solid transparent;
}
#top div p button{
    width: 70px;
    height: 40px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 45px;
    background-color: #F2D8A6;
    border: 1px solid #F2D8A6;
}