html,body{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

#top{
    width: 1150px;
    height: 505px;
    margin: 0 auto;
    border: 0px solid black;
    background-size: cover;
    background-image: url(../images/bg.png);
}

#top .head{
    width: 1000px;
    height: 185px;
    margin: 40px auto;
    border: 2px solid transparent; /*透明边框*/
}

/* 头栏样式 */
#header{
    width: 1150px;
    height: 32px;
    /* display: inline-block; */
    margin: 0px auto;
    background-color: #FFF5E4;
    /* border: 4px solid red; */
}
#header div:nth-child(1){
    float: left;
    width: 150px;
    height: 32px;
    line-height: 32px;
    /* background-color: #09d475; */
}
#header div:nth-child(2){
    float: right;
    width: 80px;
    height: 32px;
    line-height: 32px;
}
#header div:nth-child(3){
    float: right;
    width: 80px;
    height: 32px;
    line-height: 32px;
}
#header div:nth-child(4){
    float: right;
    width: 150px;
    height: 32px;
    line-height: 32px;
}

.main{
    width: 860px;
    height: 470px;
    margin: -56px auto;
    border: 3px solid transparent; /*#D5A951*/
    background-color: rgba(255, 245, 228, 0.8); /* 透明度为0.7*/
}

/* logo的样式 */
.head #logo{
    width: 200px;
    height: 100px;
    margin-top: -24px;
    margin-left: 90px;
    background-color: #FFF5E4;
    border: 3px solid #FFF5E4;
}

/* logo右边的div盒子的样式 */
.head #bar{
    width: 900px;
    height: 210px;
    margin-top: -106px;
    margin-left: 67px ;
    font-size: 0px;
    position: relative;
    border: 2px solid transparent;
}

/* 搜索框样式 */
#top .head #bar input[type=text]{
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-left: 300px;
    border: 3px solid white;
    vertical-align: top;
}

/* 按钮样式 */
#top .head #bar button{
    width: 62px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    font-family: "楷体";
    background-color: #AEE48D;
    border: 2px solid #AEE48D;
}

#ear div{
    width: 127px;
    height: 65px;
    display: inline-block;
    margin: 26px 45px -35px -4px;
    position: relative;
    background: center;
    border: 0px solid transparent;
}
#ear div:nth-child(2){
    /* background-color:s #ff000d; */
    /* z-index: 3; */
    background-image: url(../images/ear1.png);
    background-size: cover; /* 图片平铺/*/
}
#ear div:nth-child(3){
    background-image: url(../images/ear2-1.png);
    background-size: cover;
}
#ear div:nth-child(4){
    background-image: url(../images/ear3.png);
    background-size: cover;
}
#ear div:nth-child(5){
    background-image: url(../images/ear4-1.png);
    background-size: cover;
}

/* 菜单栏样式 */
#menu{
    width: 119px;
    height: 0px; /*不能漏*/
    display: inline-block;
    margin-top: 25px;
    margin-left: 0px;
    font-size: 24px;
    font-weight: bold;
    font-family: "幼圆";
    white-space:nowrap; /*是文本强制一行显示*/
    /* border: 1px solid red; */
    /* 画直角梯形 */
    border-left: 17px solid #ebc459;
    border-right: 37px solid transparent;
    border-bottom: 45px solid #ebc459;
}
/* menu1表示当前页面的菜单按钮的样式 */
#menu1{
    width: 119px;
    height: 0px; /*不能漏*/
    display: inline-block;
    margin-top: 33px;
    margin-left: 0px;
    font-size: 24px;
    font-weight: bold;
    font-family: "幼圆";
    white-space:nowrap; /*是文本强制一行显示*/
    /* border: 1px solid red; */
    /* 画直角梯形 */
    border-left: 17px solid #FDFBF6;
    border-right: 37px solid transparent;
    border-bottom: 45px solid #FDFBF6;
}
#menu div{
    width: 62px;
    height: 25px;
    text-align: center;
}
/* 菜单栏的a标签样式 */
#a{
    display: block;
    line-height: 47px;
    text-decoration: none; /*去掉下划线*/
}

.main .title1{
    width: 860px;
    height: 50px;
    margin: 0px auto;
    /* background-color: white; */
    border: 1px solid transparent;
}

#son1{
    display: block;
    width: 150px;
    height: 44px;
    float: left;
    text-align: center;
    font-size: 24px;
    font-family: "幼圆";
    line-height: 58px;
    color: #181815;
    border: 1px solid transparent;
}
#son2{
    display: block;
    width: 150px;
    height: 44px;
    float: left;
    text-align: center;
    font-size: 24px;
    font-family: "幼圆";
    line-height: 58px;
    color: #181815;
    margin-left:29px;
    border: 1px solid transparent;
}
#son3{
    display: block;
    width: 200px;
    height: 44px;
    float: left;
    text-align: center;
    font-family: "幼圆";
    font-size: 35px;
    color: #181815;
    margin-top: -5px;
    margin-left: -5px;
    /* padding-top: -10px; */
    border: 1px solid transparent;
}
.title1 div span{
    font-size: 35px;
    font-weight: bold;
    color: #948356;
    font-style: italic;
    margin-left: 5px;
    line-height: 55px;
}

.main hr{
    width: 865px;
    border: 2px solid #F4DB9A;
    margin-top: -4px;
    margin-left: -3px;
}

.main #show1{
    width: 840;
    height: 212px;
    margin-top: 0px;
    position: relative;
    border: 2px solid transparent;
}

#box1{
    float: left;
    position: absolute;
    width: 250px;
    height: 180px;
    margin-top: 3px;
    margin-left: 30px;
    overflow: hidden;
    border: 1px solid transparent;
}
#box2{
    float: inline-start;
    width: 50px;
    height: 30px;
    float: right;
    font-size: 20px;
    font-family: "宋体";
    margin-top: 8px;
    margin-right: 480px;
    border: 1px solid transparent;
}
#h1{
    width: 520px;
    float: right;
    border: 2px solid #948356;
    margin-top: -5px;
    margin-right: 25px;
}
#box3{
    float: right;
    width: 70px;
    height: 30px;
    font-size: 20px;
    font-family: "宋体";
    color: #4e2f81;
    margin-top: -32px;
    margin-left: 400px;
    margin-right: 20px;
    border: 1px solid transparent;
}
#box4{
    float: left;
    width: 490px;
    height: 119px;
    font-size: 20px;
    font-family: "宋体";
    margin-top: 8px;
    margin-left: 320px;
    border: 2px solid transparent;
}

.main #show2{
    width: 840;
    height: 212px;
    margin-top: 206px;
    position: relative;
    /* background-color: white; */
    border: 2px solid transparent;
}
#box5{
    float: left;
    position: absolute;
    width: 250px;
    height: 180px;
    margin-top: 20px;
    margin-left: 30px;
    overflow: hidden;
    border: 1px solid transparent;
}
